################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Devoir1_CROUZET_BRANGER_8INF840_A2016/ipch/DEVOIR1_CROUZET_BRANGER_8INF840_A2016-33bc9483/DEVOIR1_CROUZET_BRANGER_8INF840_A2016-7d2fb06a.ipch
